<h1>
  hello!
  <button onClick = "window.location.href = '/welcome/tutorial';"> go to tutorial </button>
  <button onClick = "window.location.href = '/game/1';"> go to game 1 </button>
  <%= %>
</h1>
