<h1> hi, welcome to the t u t o r i a l  </h1>

this is poker! <br/>

we are going to make texas hold em. <br/>

the way you play is you get 2 cards and then based on how good they are you bet money. <br/>

then more cards come out and then if your hand beats everyone else you get money! <br/>

wow! <br/>

<a href = <%= "/welcome/index" %>> click me to go back! </a>