<h1> Texas Hold'em Poker </h1>

Hold'em is a version of poker in which several players are dealt individual cards, and community cards are also dealt face up on the table. <br/>
The goal is to make the best combination of five cards between the two cards you were dealt as an individual and the five cards the community was dealt on the table. <br/> <br/>

You make four bets as the cards are dealt out, and two people are forced to bet at the start of every game to keep things interesting. <br/>
For this reason, we think of the game as occuring in four rounds: preflop, flop, turn, and river. <br/>
Note that a round of betting continues until every player has folded, put in all of their chips, or matched the amount put in by all other active players. <br/> <br/>

The gameplay occurs as follows <br/>
&nbsp&nbsp&nbsp&nbsp Every player is dealt two cards face down <br/>
&nbsp&nbsp&nbsp&nbsp A round of betting occurs (with two players forced to make bets) <br/>
&nbsp&nbsp&nbsp&nbsp The flop occurs: three cards are flopped face up on the table for everyone to see and use <br/>
&nbsp&nbsp&nbsp&nbsp A second round of betting occurs <br/>
&nbsp&nbsp&nbsp&nbsp A third round of betting occurs <br/>
&nbsp&nbsp&nbsp&nbsp The river occurs: the final card is dealt face up on the table, leaving five cards on the table for everyone to see and use <br/>
&nbsp&nbsp&nbsp&nbsp A fouth and final round of betting occurs <br/>
&nbsp&nbsp&nbsp&nbsp Players reveal their cards, and the person with the best hand collects all the bets made throughout the rounds of betting <br/> <br/>

Hands are ranked by the relations between the cards. <br/>
&nbsp&nbsp&nbsp&nbsp 1. Straight Flush, or five sequentially numbered cards of the same suit <br/>
&nbsp&nbsp&nbsp&nbsp 2. Four-of-a-kind, or four cards of the same number <br/>
&nbsp&nbsp&nbsp&nbsp 3. Full House, made up by three cards of the same number, and another two cards of another number <br/>
&nbsp&nbsp&nbsp&nbsp 4. Flush, five cards of the same suit <br/>
&nbsp&nbsp&nbsp&nbsp 5. Straight, five cards sequentially numbered <br/>
&nbsp&nbsp&nbsp&nbsp 6. Three-of-a-kind, or three cards of the same number <br/>
&nbsp&nbsp&nbsp&nbsp 7. Two-pair, or two cards of the same number, and another two cards of another number <br/>
&nbsp&nbsp&nbsp&nbsp 8. Pair, or two cards of the same number <br/>
&nbsp&nbsp&nbsp&nbsp 9. High Card, or a single card's number <br/> <br/>

<a href = <%= "/welcome/index" %>> Back </a>
